.hero-body img {
    /* max-height: 400px; */
    width: max-content;
    max-height: 300px;
}

.hero {
    background-color: #eeeef6;
}


.about-me {
    width: 100%;
    margin-bottom: 50px;
    background-color: #eeeef6;
}

.work {
    width: 100%;
    
}

.img-description {
    position: relative;
    width: fit-content;
    top: -100px;
    color: #425777;
    font-size: 1.5rem;
    background-color: #93cdce;
    text-decoration: underline;
    text-underline-offset: .3em;
    text-decoration-thickness: 3px;
}

.navbar-end > .navbar-item {
    color: #93cdce;
    font-size: 1.3rem;
    text-decoration: underline;
    text-underline-offset: .3em;
    text-decoration-thickness: 3px;
}

.navbar-brand p {
    color: #2d313a;
    background-color: #93cdce;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.about-text {
    font-size: 2.5rem;
    border-right: 3px solid #425777;
    padding-right: 10px;
    color: #425777;
    font-weight: bold;
}

.about-description {
    width: 100%;
}



h3 {
    font-size: 2.5rem;
    border-right: 3px solid #425777;
    color: #425777;
    font-weight: bold;
    padding-right: 15px;
}



main {
    background-color: #eeeef6;
    padding-top: 50px;
}

figure img {
    border: 7px solid #93cdce;
}

.card {
    background-color: #eeeef6;
}

.links {
    color: #425777;
    text-decoration: underline;
    text-underline-offset: .3em;
    text-decoration-thickness: 3px;
    font-size: 1.2rem;
    
}

.link-line > a {
    /* border: 3px solid red; */
    font-size: 1.4rem;
    
    /* padding: 50px; */
    width: fit-content;
    min-width: 150px;
    
}

/* .link-line {
    justify-content: space-around;
} */

/* .link-container {
    width: 100%;
} */

.link-column {
    font-size: 3rem;
    justify-content: space-around;
}

.cimage img {
    max-height: 327px;
}

.img-description > a {
    color: #425777;
    font-weight: bold;
}